.git
.gitignore
.github
.gitmodules
.dockerignore
.sonarcloud.properties
db.sqlite3
Dockerfile
Dockerfile.slim
docker-compose.yml
docker-compose.dev.yml
docker-compose.setup.yml
*.md
_config.yml
LICENSE
downloads
uploads
logs
venv
secret
**/.DS_Store
web/node_modules
web/__pycache__
web/celery.log
web/db.log
web/errors.log
staticfiles
