{% load permission_tags %}
{% if user|can:'modify_scan_results' %}
<td class="text-center">
  <div class="flex flex-wrap gap-1 justify-center mb-2">
    <a href="#" class="inline-flex items-center justify-center w-8 h-8 rounded-lg bg-rose-500/10 text-rose-600 dark:text-rose-400 hover:bg-rose-500/20 transition-colors btnDelTask" data-toggle="tooltip" data-placement="top" title="Delete Scheduled Task" onclick="deleteScheduledScan('{% url 'delete_scheduled_task' current_project.slug task.id %}'); return false;"><i data-lucide="trash-2" class="w-4 h-4"></i></a>
  </div>
</td>
{% endif %}
