{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Permission Denied
{% endblock title %}

{% block page_title %}
Permission Denied
{% endblock page_title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block main_content %}
<div class="flex justify-center">
    <div class="w-full max-w-2xl">
        <div class="text-center">
            <h1 class="text-6xl font-bold text-rose-600 dark:text-rose-400 mt-4">403</h1>
            <h4 class="text-sm font-semibold uppercase text-rose-600 dark:text-rose-400 mt-3">You do not have access to this page</h4>
            <p class="text-slate-600 dark:text-slate-400">Please contact the administrator to request access.</p>
        </div>
    </div>
</div>
{% endblock main_content %}
